# Expires map
map $sent_http_content_type $expires {
    default                    off;
    text/html                  epoch;
    text/css                   max;
    application/javascript     max;
    ~image/                    max;
}

server {
    # disable all unwanted subdomains
    server_name _;
    deny all;
    return 444;
}

server {
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/ifj.josefkolar.cz/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/ifj.josefkolar.cz/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot

    if ($scheme != "https") {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    listen 80;

    server_name 80.211.194.66 ifj.josefkolar.cz;
    client_max_body_size 8M;
    expires $expires;
    root /home/ifj/ifj.cz/;

    if (-f $document_root/maintenance.html) {
        return 503;
    }
    error_page 503 @maintenance;
    location @maintenance {
        rewrite ^(.*)$ /maintenance.html break;
    }

    location = /google63f834c06dd84f21.html {
        alias /home/ifj/ifj.cz/static/google63f834c06dd84f21.html;
    }

    location = /favicon.ico {
        alias /home/ifj/ifj.cz/static/img/favicon.ico;
    }

    location /media {
        alias /home/ifj/ifj.cz/media;
    }

    location /static {
        alias /home/ifj/ifj.cz/static;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/home/ifj/ifj.cz/ifj.sock;
    }
}
