<h3>Autoři</h3>
<ul>
    <li><a href="https://www.facebook.com/kolar.joe">Josef Kolář</a>, xkolar71,
        <a href="https://github.com/thejoeejoee">@thejoeejoee</a> - webserver, hodnotící interpret, přenos dat
    </li>
    <li><a href="https://www.facebook.com/sony.nguyen.98">Son Hai Nguyen</a>, xnguye16,
        <a href="https://github.com/SonyPony">@SonyPony</a> - testování, grafy, konzultace
    </li>
    <li><a href="https://www.facebook.com/martin.kobelka">Martin Kobelka</a>, xkobel02,
        <a href="https://github.com/martinkobelka">@martinkobelka</a> - definice testů
    </li>
</ul>