<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Optimalizační soutěž IFJcode17 | VUT FIT IFJ 2017</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/popper.min.js"></script> -->
    <script src="https://unpkg.com/popper.js@1.12.5/dist/umd/popper.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108072995-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-108072995-1');

        google.charts.load('current', {packages: ['corechart']});
        window.charts = {};
        window.contentWidth = $('.main-content').width();

        var chartDetail = function (url) {
            window.event.preventDefault();
            jQuery.get({
                url: url,
                success: function (html) {
                    var $modal = $('#chart-modal');
                    $modal.find('.modal-body').html(html);
                    $modal.modal('show');

                }
            })
        };
    </script>
    <style>
        .carousel-chart {
            padding-bottom: 20px;
        }

        #carousel-charts {
            min-height: 500px;
        }

        .carousel-control {
            color: black !important;
        }

        .carousel-control:hover {
            color: #444 !important;
        }

        .carousel-indicators li {
            background-color: #999;
            background-color: rgba(70, 70, 70, .25);
        }

        .carousel-indicators .active {
            background-color: #444;
        }

        .modal-chart {
            max-width: 1140px;
        }

        a.btn-chart-detail:not([href]) {
            color: white;
            cursor: pointer;
        }
        a.btn-chart-detail:not([href]):hover {
            color: white;
            background-color: #008500;
        }
    </style>
</head>
<body>
<div class="container main-content">
    <h1 class="text-center display-3">Optimalizační soutěž <code>IFJcode17</code></h1>
    <p class="lead">
        Server slouží pro sběr dat z ohodnocovacího interpretu jazyka <code>IFJcode17</code>.<br>
        Princip <strong>včetně automatických integračních testů</strong> je detailně popsán ve
        <a class="h6" target="_blank" href="https://github.com/thejoeejoee/VUT-FIT-IFJ-2017-tests/wiki">Wiki na
            Githubu</a>.
    </p>

    {% if not main_cases %}
        <div class="alert alert-info">Zatím žádná evidovaná data.</div>
    {% else %}
        <h3>Vývoj hlavních benchmarků</h3>
        <div id="carousel-charts" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for case in main_cases %}
                    <li data-target="#carousel-charts" data-slide-to="{{ forloop.counter0 }}"
                            {% if forloop.first %} class="active"{% endif %}>
                    </li>
                {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
                {% for case in main_cases %}
                    <div class="carousel-item{% if forloop.first %} active{% endif %}">
                        {% include "web/chart-detail.html" with case=case %}
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control carousel-control-prev" href="#carousel-charts" role="button" data-slide="prev">
                <span class="display-5">◀</span>
                <span class="sr-only">Předchozí</span>
            </a>
            <a class="carousel-control carousel-control-next" href="#carousel-charts" role="button" data-slide="next">
                <span class="display-5">▶</span>
                <span class="sr-only">Následující</span>
            </a>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5>Jednotlivé soutěže <i class="small">(průměr, počet výsledků)</i></h5>
                <ul class="list-group">
                    {% for case in cases %}
                        <li class="list-group-item">
                            <div class="row justify-content-beetween">
                                <div class="col">
                                    {{ case }}
                                    <i class="small">({{ case.average_price|floatformat }}, {{ case.result_test_case.count }})</i>
                                </div>
                                <div class="col-4 text-right">
                                    <a onclick="chartDetail('{% url 'web:chart_detail' case.pk %}')" class="badge badge-success btn-chart-detail">detail</a>
                                    <a href="{{ case.github_link }}" class="badge badge-primary">Github</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-6">
                <h5>Evidované týmy</h5>
                <ul class="list-group">
                    {% for team in teams %}
                        <li class="list-group-item">
                            {{ team }} <i class="small">({{ team.authors }})</i>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    {% endif %}
    <hr>
    {% include "web/authors.html" %}
</div>

{% include "web/fork-on-github.html" %}
<script>
    jQuery('#carousel-charts').on('slide.bs.carousel', function (e) {
        var $item = jQuery(e.relatedTarget);
        window.charts[$item.find('.carousel-chart').data('chart')].draw();
    });
</script>
<div class="modal fade" id="chart-modal">
    <div class="modal-dialog modal-chart" role="document">
        <div class="modal-content">
            <div class="modal-body"></div>
        </div>
    </div>
</div>
</body>
</html>