{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Optimalizační soutěž IFJcode17 | VUT FIT IFJ 2017</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/popper.min.js"></script> -->
    <script src="https://unpkg.com/popper.js@1.12.5/dist/umd/popper.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108072995-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-108072995-1');

        google.charts.load('current', {packages: ['corechart']});
        window.charts = {};
        window.contentWidth = function () {
            return $('#carousel-charts').width();
        };

        var chartDetail = function (pk, url) {
            if (window.event) {
                window.event.preventDefault();
            }
            jQuery.get({
                url: url,
                success: function (html) {
                    var $modal = $('#chart-modal');
                    $modal.find('.modal-body').html(html);
                    $modal.modal('show');
                    window.location.hash = pk;
                }
            })
        };
        window.ga = gtag;

        if (window.location.hash) {
            console.log('{% url "web:chart_detail" 'abcdef' %}'.replace('abcdef', window.location.hash));
            chartDetail(window.location.hash, '{% url "web:chart_detail" 'abcdef' %}'.replace('abcdef', window.location.hash.replace('#', '')));
        }
    </script>
    <style>
        .carousel-chart {
            padding-bottom: 20px;
        }

        #carousel-charts {
            min-height: 500px;
        }

        @media (min-width: 992px) {
            #carousel-charts {
                margin: 0 -180px;
            }
        }

        .carousel-control {
            color: black !important;
        }

        .carousel-control:hover {
            color: #444 !important;
        }

        .carousel-indicators li {
            background-color: #999;
            background-color: rgba(70, 70, 70, .25);
        }

        .carousel-indicators .active {
            background-color: #444;
        }

        .modal-chart {
            max-width: 1560px;
        }

        a.btn-chart-detail:not([href]) {
            color: white;
            cursor: pointer;
        }

        a.btn-chart-detail:not([href]):hover {
            color: white;
            background-color: #008500;
        }
    </style>
</head>
<body>
<div class="container main-content">
    <h1 class="text-center display-4">Sada nástrojů pro <code>IFJcode17</code></h1>
    <p class="lead">
        Sada nástrojů obsahuje integrační testy pro kompilátory jazyka <code>IFJ17</code>, vývojové prostředí s
        debuggerem pro jazyk <code>IFJcode17</code> a také tento server agregaci dosavadních výsledků.
        <br>

        <a class="display-5" target="_blank" href="https://github.com/thejoeejoee/VUT-FIT-IFJ-2017-tests/wiki">
            Veškeré informace k nástrojům, včetně instalace, jsou popsány ve Wiki.
        </a>
    </p>

    <div class="alert alert-info">
        Chyby, nesrovnalosti a jakékoliv další připomínky prosím směřujte na
        <a href="https://github.com/thejoeejoee/VUT-FIT-IFJ-2017-toolkit/issues/new">GitHub do issues</a>, děkujeme!
    </div>

    {% if not main_cases.exists %}
        <div class="alert alert-info">Prozatím nedostatek dat pro zobrazení vývoje.</div>
    {% else %}
        <h3>
            Nejzajímavější porovnání
            <small class="display-6 small text-muted">{{ last_result.x_created|naturaltime }}</small>
        </h3>

        <div id="carousel-charts" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for case in main_cases %}
                    <li data-target="#carousel-charts" data-slide-to="{{ forloop.counter0 }}"
                            {% if forloop.first %} class="active"{% endif %}>
                    </li>
                {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
                {% for case in main_cases %}
                    <div class="carousel-item{% if forloop.first %} active{% endif %}">
                        {% include "web/chart-detail.html" with case=case %}
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control carousel-control-prev" href="#carousel-charts" role="button" data-slide="prev">
                <span class="display-5">◀</span>
                <span class="sr-only">Předchozí</span>
            </a>
            <a class="carousel-control carousel-control-next" href="#carousel-charts" role="button" data-slide="next">
                <span class="display-5">▶</span>
                <span class="sr-only">Následující</span>
            </a>
        </div>

    {% endif %}
    {% if sections %}
        <div class="row">
            <div class="col-lg-6">
                <h5>Porovnání jednotlivě</h5>
                <div id="acordion" role="tablist">
                    {% for name, cases in sections %}
                        <div class="card">
                            <div class="card-header">
                                <a data-toggle="collapse" href="#section-{{ name }}" class="d-block">{{ name }}</a>
                            </div>
                            <div id="section-{{ name }}" class="collapse" data-parent="#acordion">
                                <ul class="list-group list-group-flush">
                                    {% for case in cases %}
                                        <li class="list-group-item">
                                            <div class="row justify-content-beetween">
                                                <div class="col">
                                                    {{ case }}
                                                </div>
                                                <div class="col-4 text-right">
                                                    <a onclick="chartDetail('{{ case.pk }}', '{% url 'web:chart_detail' case.pk %}')" class="badge badge-success btn-chart-detail">detail</a>
                                                    <a href="{{ case.github_link }}" class="badge badge-primary">Github</a>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-6">
                <h5>Evidované týmy</h5>
                <ul class="list-group">
                    {% for team in teams %}
                        <li class="list-group-item">
                            {{ team }}<br>
                            <i class="small">{{ team.authors }}</i>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    <hr>
    {% include "web/authors.html" %}
</div>

{% include "web/fork-on-github.html" %}
<script>
    jQuery('#carousel-charts').on('slide.bs.carousel', function (e) {
        var $item = jQuery(e.relatedTarget);
        window.charts[$item.find('.carousel-chart').data('chart')].draw();
    });
</script>
<div class="modal fade" id="chart-modal">
    <div class="modal-dialog modal-chart" role="document">
        <div class="modal-content">
            <div class="modal-body"></div>
        </div>
    </div>
</div>
</body>
</html>